
body {
    padding: 0;
    margin: 0;
    background-color: #171b21;
}

button {
    margin: 20px;
    color: #42464d;
    width: 150px;
    height: 35px;
    font-family: "Monaco";
    background-color: #daf3ff;
}
