body {
    color: white;
    background-color: #011627;
}

button {
    font-family: monospace;
    height: 150px;
    width: 150px;
    margin: 30px;
    background-color: #026C7C;
    color: #F6F7F8;
    font-size: 16px;
    border: 2px solid #F6F7F8;
}

#synthesis {
    border:dashed;
    margin:150px;
    height:450px;
    width:700px;
}
